@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-text-color {
  color: #202633;
}

.secondary-text-color {
  color: #a0aec0;
}

.header-background {
  background-color: #047cdc;
}

.bad-review-text {
  color: #ff9085;
}

.bad-review-bg {
  background-color: #fff1ef;
}

.text-green {
  color: #2a9a7b;
}

.text-yellow {
  color: #ffa800;
}

.bg-green {
  background-color: #e2fff7;
}

.bg-yellow {
  background-color: #fcf5e5;
}
